@font-face {
    font-family: 'MiFuente';
    src: url('font/KGThinkingOutLoud.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MiFuente', sans-serif !important;
}

#logo {
    width: 100%;
    max-width: 650px;
}

.card {
    transition: transform 0.2s;
    background-color: rgb(77, 71, 148);
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: greenyellow;
}

.card-text {
    color: rgb(255, 255, 255);
}